/* For All Files */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
}

.disable {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}

.thumb {
  display: block;
  overflow: hidden;
  height: 0;
  position: relative;
  width: 100%;
}

.thumb-5x3 {
  padding-bottom: 60%;
}

.thumb-4x3 {
  padding-bottom: 75%;
}

.thumb-1x1 {
  padding-bottom: 100%;
}

.thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C2B093;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D15D73;
}

/* End Scrollbar */
.wraper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  margin-bottom: 50px;
}

.section__title {
  font-size: 42px;
  color: #D15D73;
  margin-bottom: 20px;
  padding-top: 50px;
}

.section__title--logo {
  width: 120px;
  margin-bottom: 40px;
}

/*------------------------- HEADER ----------------------------*/
.header__top-bar {
  background-color: #F6F6F6;
  position: relative;
  z-index: 9999;
}

.header__top-bar .wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header__top-bar--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-bar--logo h6, .header__top-bar--logo a {
  margin-right: 20px;
}

.header__top-bar--logo a {
  width: 100px;
}

.header__top-bar--logo a:last-child {
  width: 70px;
}

.header__top-bar--logo img {
  width: 100%;
}

.header__top-bar--account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-bar--account a {
  margin-left: 20px;
}

.header__info {
  background-image: url(images/hero-banner.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 1200px;
}

.header__info .wraper {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info--sticky {
  background-color: #FDFAF2;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  padding-bottom: 16px;
}

.header__info--hamburger {
  position: relative;
}

.header__info--hamburger-fixed {
  z-index: 999;
}

.header__info--hamburger-sticky {
  background-color: #FDFAF2;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding-bottom: 16px;
  z-index: 999;
}

.header__info--hamburger .fixed-btn-fixed {
  width: 110px;
  height: 32px;
  border-radius: 4px;
  background-color: #D15D73;
  margin-right: 20px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  z-index: 9999;
}

.header__info--hamburger .fixed-btn-fixed__icon {
  border-right: 1px solid white;
  padding: 4px 8px;
  margin-right: 10px;
}

.header__info--hamburger .fixed-btn-fixed__text {
  font-size: 14px;
  line-height: 1.3;
}

.header__info--nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.header__info--nav a {
  margin-right: 16px;
  color: #333;
  -webkit-transition: color ease-in-out .2s;
  transition: color ease-in-out .2s;
}

.header__info--nav .active, .header__info--nav a:hover {
  color: #D15D73;
}

.header__info--nav:last-child {
  margin-left: auto;
}

.header__info--logo {
  margin: 0 auto;
}

.header__info--hamburger--container {
  margin-right: auto;
}

.header__info--hamburger--container #fixed-menu {
  position: absolute;
  top: 90px;
}

.menu {
  background-color: white;
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
}

.menu a {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
  color: black;
  width: 250px;
  padding: 14px 14px 0 14px;
}

.menu a:last-child {
  padding-bottom: 14px;
}

.menu a.active {
  color: #D15D73;
}

.menu a:hover {
  color: #D15D73;
}

/*------------------------- MAIN ----------------------------*/
.event-info {
  text-align: center;
  line-height: 1.5;
}

.event-info .wraper {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.event-info .thumb-art {
  width: 45%;
}

.event-info__info {
  font-family: 'Roboto', sans-serif;
  width: 45%;
}

.event-info__info--title {
  font-size: 42px;
  font-weight: 300;
  color: #D15D73;
}

.event-info__info--subtitle {
  font-size: 15px;
  font-weight: 300;
}

.event-info__info--logo {
  margin: 10px;
}

.event-info__info--description {
  margin-bottom: 20px;
}

.event-info__info--btn {
  font-size: 18px;
  font-weight: 400;
  color: white;
  background-color: #D15D73;
  padding: 10px 20px;
  border-radius: 8px;
}

.event-schedule {
  background-color: #FDFAF2;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 800px;
}

.event-schedule::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 538px;
  background: url(images/event-schedule-bg-top.png) no-repeat;
}

.event-schedule::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 350px;
  height: 203px;
  background: url(images/event-schedule-bg-bottom.png) no-repeat;
}

.event-schedule .section__title, .event-schedule .section__title--logo, .event-schedule__date {
  z-index: 1;
}

.event-schedule .wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.event-schedule .wraper::after {
  content: '';
  display: block;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 12%;
  right: 0;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(#fdfaf2));
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #fdfaf2);
}

.event-schedule__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
  position: relative;
}

.event-schedule__date--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D15D73;
  border-radius: 50%;
  padding: 15px 18px;
  margin-right: 10px;
}

.event-schedule__date--circle span {
  color: white;
}

.event-schedule__date--circle span:first-child {
  font-size: 18px;
  font-weight: 700;
}

.event-schedule__date--circle span:last-child {
  font-size: 16px;
  border-top: 1px solid white;
}

.event-schedule__date--title {
  font-size: 14px;
  font-weight: 700;
  color: #D15D73;
  line-height: 24px;
}

.event-schedule__date--from, .event-schedule__date--to {
  background-color: #FDFAF2;
  width: 210px;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-schedule__date--from {
  margin-right: 120px;
  padding-right: 30px;
  padding-left: 10px;
}

.event-schedule__date--from .event-schedule__date--circle {
  background-color: #D15D73;
}

.event-schedule__date--from .event-schedule__date--title {
  color: #D15D73;
}

.event-schedule__date--to {
  padding-left: 40px;
}

.event-schedule__date--to .event-schedule__date--circle {
  background-color: #C2B093;
}

.event-schedule__date--to .event-schedule__date--title {
  color: #C2B093;
}

.event-schedule__date::after {
  content: '';
  width: 100%;
  border-bottom: 2px solid #C2B093;
  position: absolute;
  top: 50%;
  border-color: #C2B093;
}

.event-schedule__schedules {
  width: 100%;
  height: 392px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
  position: relative;
}

.event-schedule__list {
  margin: 0 150px;
}

.event-schedule__list--title {
  margin-top: 36px;
  width: 200px;
  padding-bottom: 16px;
  border-bottom: 2px solid #D15D73;
  position: relative;
  top: 2px;
}

.event-schedule__list .schedule__list {
  border-top: 2px solid #C2B093;
  padding-top: 16px;
}

.event-schedule__list .schedule__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13px;
}

.event-schedule__list .schedule__list--title {
  margin-right: 150px;
  font-size: 17px;
  font-weight: 700;
  color: #D15D73;
  white-space: nowrap;
}

.event-schedule__list .schedule__list--description {
  white-space: nowrap;
}

.guest .wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.guest__list {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guest__list--item {
  width: 21%;
  text-align: center;
  margin-bottom: 30px;
  padding: 0 10px;
}

.guest__list--item .link-block__image {
  display: block;
  margin-bottom: 16px;
}

.guest__list--item .link-block__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #D15D73;
}

.guest__list--item .link-block__description {
  font-size: 16px;
}

.exhibition {
  padding-bottom: 40px;
  background-color: #FDFAF2;
}

.exhibition .wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exhibition__list {
  width: 100%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.exhibition__list--item {
  width: 32%;
  background-color: white;
  margin-bottom: 30px;
  position: relative;
}

.exhibition__list--item .mark {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  font-size: 14px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 8px;
}

.exhibition__list--item .mark i {
  color: #FE0100;
  margin-right: 8px;
}

.exhibition__list--item .thumb-art {
  width: 100%;
}

.exhibition__list--item .card-link {
  padding: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #D15D73;
}

.promotion {
  padding-bottom: 40px;
}

.promotion .wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promotion__list--item {
  width: 23%;
  background-color: white;
  margin-bottom: 34px;
  position: relative;
}

.promotion__list--item .mark {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  font-size: 14px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 8px;
}

.promotion__list--item .mark-icon {
  color: #FE0100;
  margin-right: 8px;
}

.promotion__list--item .promotion__description {
  padding: 14px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
}

.promotion__button {
  background-color: #D3D3D3;
  color: white;
  padding: 10px 32px;
  font-size: 16px;
  border-radius: 4px;
}

.news {
  padding-bottom: 40px;
  background-color: #FDFAF2;
  position: relative;
}

.news .wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
}

.news__content--bignews {
  width: 45%;
}

.news__content--bignews .bignews--link {
  padding: 18px 0;
  font-weight: 700;
  font-size: 20px;
  color: #D15D73;
}

.news__content--list {
  width: 51%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__content--list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 34px;
}

.news__content--list--item .thumb-art {
  width: 100%;
}

.news__content--list--item .news-text {
  margin-left: 20px;
}

.news__content--list--item .news-text .news--link {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 700;
  color: #D15D73;
}

.news__content .news-description {
  font-size: 16px;
  line-height: 1.5;
}

.news::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 350px;
  height: 203px;
  background: url(images/event-schedule-bg-bottom.png) no-repeat;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FDFAF2;
  overflow: hidden;
}

.contact__info {
  width: 40%;
  padding-left: 150px;
  padding-right: 80px;
  padding-bottom: 36px;
}

.contact__info--container {
  font-family: 'Roboto', sans-serif;
  color: #D15D73;
}

.contact__info--container .contact__list {
  padding-top: 10px;
}

.contact__info--container .contact__item {
  font-size: 16px;
}

.contact__info--container .contact__icon {
  padding-top: 9px;
  width: 30px;
}

.contact__info--container .contact__text {
  font-size: 18px;
  color: black;
}

.contact__info .wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__map {
  width: 60%;
  height: 350px;
  overflow: hidden;
}

.contact__map--image {
  width: 100%;
}

.copyright {
  padding: 50px 0;
}

.copyright .wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__logo .header__ngoisao-logo {
  width: 112px;
}

.copyright__logo .header__shop-logo {
  width: 76px;
  margin-left: 30px;
}

.copyright__logo img {
  width: 100%;
}

.copyright__description {
  margin: 0 auto;
  font-size: 17px;
  font-weight: 400;
}

.copyright__link {
  margin-left: auto;
}

.copyright__link .copyright-icon {
  margin-left: 20px;
  color: #666666;
}

.sponsor {
  padding-bottom: 40px;
}

.sponsor .wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sponsor__list {
  width: 100%;
}

.sponsor__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sponsor__list--title {
  font-size: 18px;
  font-weight: 700;
  color: #D15D73;
  min-width: 200px;
  margin-right: 10px;
  white-space: nowrap;
  position: relative;
}

.sponsor__list--title::after {
  content: '.';
  position: absolute;
  bottom: 2px;
  left: -20px;
  font-size: 32px;
  color: #D15D73;
}

.sponsor__list--image-container {
  display: inline-block;
}

.sponsor__list--image {
  margin: 6px;
}

.fixed-btn {
  position: fixed;
  top: 80vh;
  right: 0;
  width: 180px;
  height: 42px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #D15D73;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  z-index: 9999;
}

.fixed-btn__icon {
  border-right: 1px solid white;
  padding: 4px 8px;
  margin-right: 10px;
}

.fixed-btn__text {
  font-size: 15px;
  line-height: 1.2;
}

/* Hamburger Menu */
.container {
  display: inline-block;
  cursor: pointer;
  z-index: 9999;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #D15D73;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#overlay {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  visibility: visible;
  opacity: 1;
  -webkit-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
}

.header__info--desktop {
  display: block;
}

.header__info--hamburger {
  display: none;
}

/* Responsive */
@media all and (max-width: 1440px) {
  .contact__map--image {
    height: 100%;
    width: auto;
  }
}

@media all and (max-width: 1280px) {
  .wraper {
    max-width: 1250px;
  }
  .exhibition__list--item {
    width: 49%;
  }
  .promotion__list--item {
    width: 49%;
  }
  .contact__info {
    padding-left: 20px;
  }
}

@media all and (max-width: 1140px) {
  .header__info {
    background-size: auto;
    height: 861px;
  }
  .header__info--desktop {
    display: none;
  }
  .header__info--hamburger {
    display: block;
  }
  .fixed-btn {
    display: none;
  }
  .contact__info {
    padding-left: 40px;
  }
}

@media all and (max-width: 1024px) {
  .wraper {
    max-width: 994px;
  }
  .guest__list--item {
    margin: 0 auto 32px;
    width: 28%;
  }
  .exhibition__list--item .mark, .promotion__list--item .mark {
    font-size: 20px;
    padding: 15px;
  }
}

@media all and (max-width: 768px) {
  .wraper {
    max-width: 738px;
  }
  .exhibition__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .exhibition__list--item {
    width: 98%;
  }
  .exhibition__list--item .card-link {
    padding: 28px;
    font-size: 28px;
  }
  .guest__list--item {
    margin: 0 auto 32px;
    width: 40%;
  }
  .promotion__list--item {
    margin: 0 auto 34px;
    width: 98%;
  }
  .promotion__list--item .promotion__description {
    font-size: 30px;
  }
  .exhibition__list--item .mark, .promotion__list--item .mark {
    font-size: 30px;
    padding: 25px;
  }
  .copyright .header__ngoisao-logo, .header__shop-logo, .copyright-icon {
    margin: 0;
    padding: 0;
  }
  .copyright .header__ngoisao-logo {
    width: 90px;
  }
  .copyright .header__shop-logo {
    width: 64px;
    margin-left: 10px;
  }
  .news__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news__content--bignews {
    width: 98%;
    margin-bottom: 40px;
  }
  .news__content--list {
    width: 98%;
  }
  .event-info .wraper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .event-info .thumb-art {
    width: 95%;
    margin-bottom: 26px;
  }
  .event-info__info {
    width: 98%;
  }
  .sponsor__list--title {
    margin-right: 10px;
    min-width: 200px;
    white-space: nowrap;
  }
  .contact__info, .contact__map {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */