/* For All Files */
$primary-color: #D15D73;
$secondary-color: #C2B093;
$background-color: #FDFAF2;

html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.disable {
    display: none !important;
}

.hidden {
    visibility: hidden !important;
    opacity: 0 !important;
}

.thumb {
    display: block;
    overflow: hidden;
    height: 0;
    position: relative;
    width: 100%;
    &-5x3 {
        padding-bottom: 60%;
    }
    &-4x3 {
        padding-bottom: 75%;
    }
    &-1x1 {
        padding-bottom: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
}
/* End Scrollbar */

.wraper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    margin-bottom: 50px;
    &__title {
        font-size: 42px;
        color: $primary-color;
        margin-bottom: 20px;
        padding-top: 50px;
        &--logo {
            width: 120px;
            margin-bottom: 40px;
        }
    }
}

/*------------------------- HEADER ----------------------------*/
.header {
    &__top-bar {
        background-color: #F6F6F6;
        position: relative;
        z-index: 9999;
        & .wraper {
            display: flex;
            justify-content: space-between;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        &--logo {
            display: flex;
            align-items: center;
            h6, a {
                margin-right: 20px;
            }
            a {
                width: 100px;
            }
            a:last-child {
                width: 70px;
            }
            img {
                width: 100%;
            }
        }
        &--account {
            display: flex;
            align-items: center;
            a {
                margin-left: 20px;
            }
        }
    }
    &__info {
        background-image: url(images/hero-banner.png);
        background-repeat: no-repeat;
        background-position: center top;
        height: 861px;
        & .wraper {
            padding-top: 16px;
            display: flex;
            align-items: center;
        }
        &--sticky {
            background-color: $background-color;
            position: fixed;
            top: 0;
            right: 0;
            width: 100vw;
            z-index: 999;
            padding-bottom: 16px;
        }
        &--hamburger {
            position: relative;
            &-fixed {
                z-index: 999;
            }
            &-sticky {
                background-color: $background-color;
                position: fixed;
                top: 0;
                right: 0;

                width: 100vw;
                padding-bottom: 16px;
                z-index: 999;
            }
            a {
                width: 110px;
                height: 32px;
                border-radius: 4px;
                background-color: $primary-color;
                margin-right: 20px;

                padding: 4px;
                display: flex;
                align-items: center;
                color: white;
                z-index: 9999;
                i {
                    border-right: 1px solid white;
                    padding: 4px 8px;
                    margin-right: 10px;
                }
                h6 {
                    font-size: 14px;
                    line-height: 1.3;
                }
            }
        }
        &--nav {
            width: fit-content;

            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 700;
            a {
                margin-right: 16px;
                color: #333;
                transition: color ease-in-out .2s;
            }
            & .active, a:hover {
                color: $primary-color;
            }
            &:last-child {
                margin-left: auto;
            }
        }
        &--logo {
            margin: 0 auto;
        }
        &--hamburger--container {
            margin-right: auto;
            #fixed-menu {
                position: absolute;
                top: 90px;
            }
        }
    }
}

.menu {
    background-color: white;
    position: fixed;
    top: 20%;
    right: 0;
    z-index: 999;

    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    transition: all ease-in-out .25s;
    a {
        font-family: 'Roboto', sans-serif;
        background-color: white;
        font-size: 16px;
        font-weight: 400;
        color: black;

        width: 250px;
        padding: 14px 14px 0 14px;
        &:last-child {
            padding-bottom: 14px;
        }
        &.active {
            color: $primary-color;
        }
        &:hover {
            color: $primary-color;
        }
    }
}

/*------------------------- MAIN ----------------------------*/
.event-info {
    text-align: center;
    line-height: 1.5;
    .wraper {
        display: flex;
        justify-content: space-between;
    }
    & .thumb-art {
        width: 45%;
    }
    &__info {
        font-family: 'Roboto', sans-serif;
        width: 45%;
        h2 {
            font-size: 42px;
            font-weight: 300;
            color: $primary-color;
        }
        h3 {
            font-size: 15px;
            font-weight: 300;
        }
        img {
            margin: 10px;
        }
        p {
            margin-bottom: 20px;
        }
        a {
            font-size: 18px;
            font-weight: 400;
            color: white;

            background-color: $primary-color;
            padding: 10px 20px;
            border-radius: 8px;
        }
    }
}

.event-schedule {
    background-color: $background-color;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 350px;
        height: 538px;
        background: url(images/event-schedule-bg-top.png) no-repeat;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 350px;
        height: 203px;
        background: url(images/event-schedule-bg-bottom.png) no-repeat;
    }
    h2, img, &__date {
        z-index: 1;
    }
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 800px;
    & .wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__date {
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
        position: relative;
        &--circle {
            display: flex;
            flex-direction: column;
            align-items: center;

            background-color: $primary-color;
            border-radius: 50%;
            padding: 15px 18px;
            margin-right: 10px;
            span {
                color: white;
            }
            span:first-child {
                font-size: 18px;
                font-weight: 700;
            }
            span:last-child {
                font-size: 16px;
                border-top: 1px solid white;
            }
        }
        &--title {
            font-size: 14px;
            font-weight: 700;
            color: $primary-color;
            line-height: 24px;
        }
        &--from, &--to {
            background-color: $background-color;
            width: 200px;
            z-index: 999;
            display: flex;
            align-items: center;
        }
        &--from {
            margin-right: 120px;
            padding-right: 30px;
            padding-left: 10px;
            & .event-schedule__date--circle {
                background-color: $primary-color;
            }
            & .event-schedule__date--title {
                color: $primary-color;
            }
        }
        &--to {
            padding-left: 40px;
            & .event-schedule__date--circle {
                background-color: $secondary-color;
            }
            & .event-schedule__date--title {
                color: $secondary-color;
            }
        }
        &::after {
            content: '';
            width: 100%;
            border-bottom: 2px solid $secondary-color;
            position: absolute;
            top: 50%;
            border-color: $secondary-color;
        }
    }
    &__schedules {
        width: 100%;
        height: 392px;
        overflow-y: scroll;
        z-index: 1;
    }
    &__list {
        margin: 0 150px;
        &--title {
            margin-top: 36px;
            width: 200px;
            padding-bottom: 16px;
            border-bottom: 2px solid $primary-color;
            position: relative;
            top: 2px;
        }
        ul {
            border-top: 2px solid $secondary-color;
            padding-top: 16px;
        }
        ul li {
            display: flex;
            align-items: center;
            margin-bottom: 13px;
            h6 {
                margin-right: 150px;
                font-size: 17px;
                font-weight: 700;
                color: $primary-color;
            }
        }
    }
}

.guest {
    & .wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list {
        font-family: 'Roboto', sans-serif;
        margin-left: 50px;
        &--item {
            text-align: center;
            display: inline-block;
            margin-bottom: 20px;
            padding-right: 50px;
            h6 {
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 700;
                color: $primary-color;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

.exhibition {
    padding-bottom: 40px;
    background-color: $background-color;
    & .wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list {
        margin-left: 10px;
        &--item {
            display: inline-block;
            margin-right: 10px;
            background-color: white;
            margin-bottom: 34px;
            position: relative;
            .mark {
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 1;

                font-size: 14px;
                color: white;
                background-color: rgba(0, 0, 0, 0.4);
                padding: 10px;
                border-radius: 8px;
                i {
                    color: #FE0100;
                    margin-right: 8px;
                }
            }
            .thumb-art {
                width: 370px;
            }
            h6 {
                padding: 16px;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-weight: 700;
                color: $primary-color;
            }
        }
    }
}

.promotion {
    padding-bottom: 40px;
    & .wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list {
        margin-left: 10px;
        &--item {
            display: inline-block;
            padding-right: 10px;
            width: 269px;
            background-color: white;
            margin-bottom: 34px;
            position: relative;
            .mark {
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 1;

                font-size: 14px;
                color: white;
                background-color: rgba(0, 0, 0, 0.4);
                padding: 10px;
                border-radius: 8px;
                i {
                    color: #FE0100;
                    margin-right: 8px;
                }
            }
            h6 {
                padding: 14px;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                text-align: center;
            }
        }
    }
    &__button {
        background-color: #D3D3D3;
        color: white;
        padding: 10px 32px;
        font-size: 16px;
        border-radius: 4px;
    }
}

.news {
    padding-bottom: 40px;
    background-color: $background-color;
    position: relative;
    & .wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: 'Roboto', sans-serif;
        z-index: 1;
        &--bignews {
            width: 500px;
            h6 {
                padding: 18px 0;
                font-weight: 700;
                font-size: 20px;
                color: $primary-color;
            }
        }
        &--list {
            width: 650px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &--item {
                display: flex;
                margin-bottom: 34px;
                .thumb-art {
                    width: 530px;
                }
                div {
                    margin-left: 20px;
                    h6 {
                        padding: 10px 0;
                        font-size: 16px;
                        font-weight: 700;
                        color: $primary-color;
                    }
                }
            }
        }
        p {
            font-size: 16px;
            line-height: 1.5;
        }
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 350px;
        height: 203px;
        background: url(images/event-schedule-bg-bottom.png) no-repeat;
    }
}

.contact {
    display: flex;
    background-color: $background-color;
    overflow: hidden;
    &__info {
        width: 40%;
        padding-bottom: 36px;
        padding-right: 80px;
        padding-left: 150px;
        div {
            font-family: 'Roboto', sans-serif;
            color: $primary-color;
            li {
                font-size: 16px;
                i {
                    padding: 18px 20px 0 0;
                }
                span {
                    font-size: 18px;
                    color: black;
                }
            }
        }
        & .wraper {
            display: flex;
            flex-direction: column;
        }
    }
    &__map {
        width: 60%;
        height: 350px;
        overflow: hidden;
        img {
            height: 100%;
        }
    }
}

.copyright {
    padding: 50px 0;
    & .wraper {
        display: flex;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
        img {
            width: 112px;
            &:last-child {
                width: 76px;
                margin-left: 30px;
            }
        }
    }
    p {
        margin: 0 auto;
        font-size: 17px;
        font-weight: 400;
    }
    &__link {
        margin-left: auto;
        i {
            margin-left: 20px;
            color: #666666;
        }
    }
}

.sponsor {
    padding-bottom: 40px;
    & .wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list {
        width: 100%;
        &--item {
            display: flex;
            align-items: center;
            span {
                font-size: 18px;
                font-weight: 700;
                color: $primary-color;
                width: 200px;
                position: relative;
                margin-right: 50px;
                &::after {
                    content: '.';
                    position: absolute;
                    bottom: 2px;
                    left: -20px;
                    font-size: 32px;
                    color: $primary-color;
                }
            }
            div {
                display: inline-block;
                img {
                    margin: 6px;
                }
            }
        }
    }
}

.fixed-btn {
    a {
        position: fixed;
        top: 80vh;
        right: 0;

        width: 180px;
        height: 32px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: $primary-color;

        padding: 4px;
        display: flex;
        align-items: center;
        color: white;
        z-index: 9999;
        i {
            border-right: 1px solid white;
            padding: 4px 8px;
            margin-right: 10px;
        }
        h6 {
            font-size: 12px;
            line-height: 1.3;
        }
    }
}


/* Hamburger Menu */
.container {
    display: inline-block;
    cursor: pointer;
    z-index: 9999;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: $primary-color;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

// Modal
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#overlay {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    visibility: visible;
    opacity: 1;
    transition: all ease-in-out .25s;
}

.header__info {
    &--desktop {
        display: block;
    }
    &--hamburger {
        display: none;
    }
}

/* Responsive */
@media all and (max-width: 1200px) {
    .news__content {
        flex-direction: column;
        align-items: center;
        &--bignews {
            margin-bottom: 40px;
        }
    }
}

@media all and (max-width: 1140px) {
    .header__info {
        &--desktop {
            display: none;
        }
        &--hamburger {
            display: block;
        }
    }
    .fixed-btn {
        display: none;
    }
    .contact__info {
        padding-left: 40px;
    }
}

@media all and (max-width: 1000px) {
    .event-info {
        & .wraper {
            flex-direction: column;
            align-items: center;
        }
    }
    .contact__info {
        padding-left: 20px;
    }
}
.event-schedule__list {
    h6, p {
        white-space: nowrap;
    }
}

@media all and (max-width: 782px) {
    .exhibition__list {
        flex-direction: column;
        align-items: center;
    }
    .copyright {
        img, i {
            margin: 0;
            padding: 0;
        }
    }
}
