/* For All Files */
$primary-color: #D15D73;
$secondary-color: #C2B093;
$background-color: #FDFAF2;
$active-color: #b14559;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
}

.disable {
    display: none !important;
}

.hidden {
    visibility: hidden !important;
    opacity: 0 !important;
}

.thumb {
    display: block;
    overflow: hidden;
    height: 0;
    position: relative;
    width: 100%;
    &-5x3 {
        padding-bottom: 60%;
    }
    &-4x3 {
        padding-bottom: 75%;
    }
    &-1x1 {
        padding-bottom: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
}
/* End Scrollbar */

.wraper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    margin-bottom: 50px;
    &__title {
        font-size: 42px;
        color: $primary-color;
        margin-bottom: 20px;
        padding-top: 50px;
        text-align: center;
        &--logo {
            width: 120px;
            margin-bottom: 40px;
        }
    }
}

/*------------------------- HEADER ----------------------------*/
.header {
    &__top-bar {
        background-color: #F6F6F6;
        position: relative;
        z-index: 9999;
        & .wraper {
            display: flex;
            justify-content: space-between;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        &--logo {
            display: flex;
            align-items: center;
            h6, a {
                margin-right: 20px;
            }
            a {
                width: 100px;
            }
            a:last-child {
                width: 70px;
            }
            img {
                width: 100%;
            }
        }
        &--account {
            display: flex;
            align-items: center;
            a {
                margin-left: 20px;
            }
        }
    }
    &__info {
        background-image: url(images/hero-banner.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        height: 1200px;
        & .wraper {
            padding-top: 16px;
            display: flex;
            align-items: center;
        }
        &--sticky {
            background-color: $background-color;
            position: fixed;
            top: 0;
            right: 0;

            width: 100%;
            z-index: 999;
            padding-bottom: 16px;
        }
        &--desktop {
            display: block;
        }
        &--hamburger {
            display: none;
            position: relative;
            &-fixed {
                z-index: 999;
            }
            &-sticky {
                background-color: $background-color;
                position: fixed;
                top: 0;
                right: 0;

                width: 100%;
                padding-bottom: 16px;
                z-index: 999;
            }
            .fixed-btn-fixed {
                width: 110px;
                height: 32px;
                border-radius: 4px;
                background-color: $primary-color;
                margin-right: 20px;

                padding: 4px;
                display: flex;
                align-items: center;
                color: white;
                z-index: 9999;
                &__icon {
                    border-right: 1px solid white;
                    padding: 4px 8px;
                    margin-right: 10px;
                }
                &__text {
                    font-size: 14px;
                    line-height: 1.3;
                }
            }
        }
        &--nav {
            width: fit-content;

            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 700;
            a {
                margin-right: 16px;
                color: #333;
                transition: color ease-in-out .2s;
            }
            & .active, a:hover {
                color: $primary-color;
            }
            &:last-child {
                margin-left: auto;
            }
        }
        &--logo {
            margin: 0 auto;
        }
        &--hamburger--container {
            margin-right: auto;
            #fixed-menu {
                position: absolute;
                top: 90px;
            }
        }
    }
}

.menu {
    background-color: white;
    position: fixed;
    top: 20%;
    right: 0;
    z-index: 999;

    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    transition: all ease-in-out .25s;
    a {
        font-family: 'Roboto', sans-serif;
        background-color: white;
        font-size: 16px;
        font-weight: 400;
        color: black;

        width: 250px;
        padding: 14px 14px 0 14px;
        &:last-child {
            padding-bottom: 14px;
        }
        &.active {
            color: $primary-color;
        }
        &:hover {
            color: $primary-color;
        }
    }
}

/*------------------------- MAIN ----------------------------*/
.event-info {
    text-align: center;
    line-height: 1.5;
    .wraper {
        width: 96%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    & .thumb-art {
        width: 45%;
    }
    &__info {
        font-family: 'Roboto', sans-serif;
        width: 45%;
        &--title {
            font-size: 42px;
            font-weight: 300;
            color: $primary-color;
        }
        &--subtitle {
            font-size: 15px;
            font-weight: 300;
        }
        &--logo {
            margin: 10px;
        }
        &--description {
            margin-bottom: 20px;
        }
        &--btn {
            font-size: 18px;
            font-weight: 400;
            color: white;

            background-color: $primary-color;
            padding: 10px 20px;
            border-radius: 8px;
            transition: background-color ease .25s;
            &:hover, &:active {
                background-color: $active-color;
            }
        }
    }
}

.event-schedule {
    background-color: $background-color;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 350px;
        height: 538px;
        background: url(images/event-schedule-bg-top.png) no-repeat;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 350px;
        height: 203px;
        background: url(images/event-schedule-bg-bottom.png) no-repeat;
    }
    .section__title, .section__title--logo, &__date {
        z-index: 1;
    }
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 800px;
    & .wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        &::after {
            content: '';
            display: block;
            height: 80px;

            position: absolute;
            bottom: 0;
            left: 12%;
            right: 0;
            z-index: 2;

            background: linear-gradient(to bottom, rgba(255,0,0,0), rgba($background-color,1));
        }
    }
    &__date {
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
        position: relative;
        &--circle {
            display: flex;
            flex-direction: column;
            align-items: center;

            background-color: $primary-color;
            border-radius: 50%;
            padding: 15px 18px;
            margin-right: 10px;
            span {
                color: white;
            }
            span:first-child {
                font-size: 18px;
                font-weight: 700;
            }
            span:last-child {
                font-size: 16px;
                border-top: 1px solid white;
            }
        }
        &--title {
            font-size: 14px;
            font-weight: 700;
            color: $primary-color;
            line-height: 24px;
        }
        &--from, &--to {
            background-color: $background-color;
            width: 210px;
            z-index: 999;
            display: flex;
            align-items: center;
        }
        &--from {
            margin-right: 120px;
            padding-right: 30px;
            padding-left: 10px;
            & .event-schedule__date--circle {
                background-color: $primary-color;
            }
            & .event-schedule__date--title {
                color: $primary-color;
            }
        }
        &--to {
            padding-left: 40px;
            & .event-schedule__date--circle {
                background-color: $secondary-color;
            }
            & .event-schedule__date--title {
                color: $secondary-color;
            }
        }
        &::after {
            content: '';
            width: 100%;
            border-bottom: 2px solid $secondary-color;
            position: absolute;
            top: 50%;
            border-color: $secondary-color;
        }
    }
    &__schedules {
        width: 100%;
        height: 392px;
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 1;
        position: relative;

        /* Firefox */
        scrollbar-color: $secondary-color transparent;
        scrollbar-width: thin;
    }
    &__list {
        margin: 0 150px;
        &--title {
            margin-top: 36px;
            width: 200px;
            padding-bottom: 16px;
            border-bottom: 2px solid $primary-color;
            position: relative;
            top: 2px;
        }
        .schedule__list {
            border-top: 2px solid $secondary-color;
            padding-top: 16px;
            &--item {
                display: flex;
                align-items: center;
                margin-bottom: 13px;
            }
            &--title {
                margin-right: 150px;
                font-size: 17px;
                font-weight: 700;
                color: $primary-color;
                white-space: nowrap;
            }
            &--description {
                white-space: nowrap;
            }
        }
    }
}

.guest {
    & .wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &--item {
            width: 21%;
            text-align: center;
            margin-bottom: 30px;
            padding: 0 10px;
            .link-block {
                &__image {
                    display: block;
                    margin-bottom: 16px;
                }
                &__title {
                    margin-bottom: 10px;
                    font-size: 18px;
                    font-weight: 700;
                    color: $primary-color;
                }
                &__description {
                    font-size: 16px;
                }
            }
        }
    }
}

.exhibition {
    padding-bottom: 40px;
    background-color: $background-color;
    & .wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list {
        width: 100%;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &--item {
            width: 32%;
            background-color: white;
            margin-bottom: 30px;
            position: relative;
            .mark {
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 1;

                font-size: 14px;
                color: white;
                background-color: rgba(0, 0, 0, 0.4);
                padding: 10px;
                border-radius: 8px;
                i {
                    color: #FE0100;
                    margin-right: 8px;
                }
            }
            .thumb-art {
                width: 100%;
            }
            .card-link {
                padding: 16px;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-weight: 700;
                color: $primary-color;
            }
        }
    }
}

.promotion {
    padding-bottom: 40px;
    & .wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &--item {
            width: 23%;
            background-color: white;
            margin-bottom: 34px;
            position: relative;
            .mark {
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 1;

                font-size: 14px;
                color: white;
                background-color: rgba(0, 0, 0, 0.4);
                padding: 10px;
                border-radius: 8px;
                &-icon {
                    color: #FE0100;
                    margin-right: 8px;
                }
            }
            .promotion__description {
                padding: 14px;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                text-align: center;
            }
        }
    }
    &__button {
        background-color: #D3D3D3;
        color: white;
        padding: 10px 32px;
        font-size: 16px;
        border-radius: 4px;
        transition: background-color ease .25s;
        &:hover, &:active {
            background-color: $active-color;
        }
    }
}

.news {
    padding-bottom: 40px;
    background-color: $background-color;
    position: relative;
    & .wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: 'Roboto', sans-serif;
        z-index: 1;
        &--bignews {
            width: 45%;
            .bignews--link {
                padding: 18px 0;
                font-weight: 700;
                font-size: 20px;
                color: $primary-color;
            }
        }
        &--list {
            width: 51%;
            &--item {
                display: flex;
                margin-bottom: 34px;
                .thumb-art {
                    width: 100%;
                }
                .news-text {
                    margin-left: 20px;
                    .news--link {
                        padding: 10px 0;
                        font-size: 16px;
                        font-weight: 700;
                        color: $primary-color;
                    }
                }
            }
        }
        .news-description {
            font-size: 16px;
            line-height: 1.5;
        }
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 350px;
        height: 203px;
        background: url(images/event-schedule-bg-bottom.png) no-repeat;
    }
}

.contact {
    display: flex;
    background-color: $background-color;
    overflow: hidden;
    &__info {
        width: 40%;
        padding-left: 150px;
        padding-right: 80px;
        padding-bottom: 36px;
        &--container {
            font-family: 'Roboto', sans-serif;
            color: $primary-color;
            .contact__list {
                padding-top: 10px;
            }
            .contact__item {
                font-size: 16px;
            }
            .contact__icon {
                padding-top: 9px;
                width: 30px;
            }
            .contact__text {
                font-size: 18px;
                color: black;
            }
        }
        & .wraper {
            display: flex;
            flex-direction: column;
        }
        .section__title {
            text-align: start;
        }
    }
    &__map {
        width: 60%;
        height: 350px;
        overflow: hidden;
        &--image {
            // height: 100%;
            width: 100%;
        }
    }
}

.copyright {
    padding: 50px 0;
    & .wraper {
        display: flex;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
        .header__ngoisao-logo {
            width: 112px;
        }
        .header__shop-logo {
            width: 76px;
            margin-left: 30px;
        }
        img {
            width: 100%;
        }
    }
    &__description {
        margin: 0 auto;
        font-size: 17px;
        font-weight: 400;
    }
    &__link {
        margin-left: auto;
        .copyright-icon {
            margin-left: 20px;
            color: #666666;
        }
    }
}

.sponsor {
    padding-bottom: 40px;
    & .wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list {
        width: 100%;
        &--item {
            display: flex;
            align-items: center;
        }
        &--title {
            font-size: 18px;
            font-weight: 700;
            color: $primary-color;

            min-width: 200px;
            margin-right: 10px;
            white-space: nowrap;
            position: relative;
            &::after {
                content: '.';
                position: absolute;
                bottom: 2px;
                left: -20px;
                font-size: 32px;
                color: $primary-color;
            }
        }
        &--image-container {
            display: inline-block;
        }
        &--image {
            margin: 6px;
        }
    }
}

.fixed-btn {
    position: fixed;
    top: 80vh;
    right: 0;

    width: 180px;
    height: 42px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: $primary-color;

    padding: 4px;
    display: flex;
    align-items: center;
    color: white;
    z-index: 9999;
    transition: background-color ease .25s;
    &__icon {
        border-right: 1px solid white;
        padding: 4px 8px;
        margin-right: 10px;
    }
    &__text {
        font-size: 15px;
        line-height: 1.2;
    }
    &:hover, &:active {
        background-color: $active-color;
    }
}


/* Hamburger Menu */
.container {
    display: inline-block;
    cursor: pointer;
    z-index: 9999;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: $primary-color;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#overlay {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    visibility: visible;
    opacity: 1;
    transition: all ease-in-out .25s;
}

/* Responsive */
@media all and (max-width: 1920px) {
    .contact__map--image {
        height: 100%;
        width: auto;
    }
    .header__info {
        background-size: auto;
        height: 861px;
    }
}
@media all and (max-width: 1280px) {
    .wraper {
        max-width: 1250px;
    }
    .exhibition__list--item {
        width: 49%;
    }
    .promotion__list--item {
        width: 49%;
    }
    .contact__info {
        padding-left: 20px;
    }
    .news::after {
        display: none;
    }
}

@media all and (max-width: 1140px) {
    .header__info {
        &--desktop {
            display: none;
        }
        &--hamburger {
            display: block;
        }
    }
    .fixed-btn {
        display: none;
    }
    .contact__info {
        padding-left: 40px;
    }
}

@media all and (max-width: 1024px) {
    .wraper {
        max-width: 994px;
    }
    .guest__list {
        &--item {
            margin: 0 auto 32px;
            width: 28%;
        }
    }
    .exhibition__list--item .mark, .promotion__list--item .mark {
        font-size: 20px;
        padding: 15px;
    }
    .contact {
        &__info, &__map {
            width: 50%;
        }
    }
}

@media all and (max-width: 768px) {
    .wraper {
        max-width: 738px;
    }
    .guest__list--item {
        margin: 0 auto 32px;
        width: 40%;
    }
    .copyright .header__ngoisao-logo, .header__shop-logo, .copyright-icon {
        margin: 0;
        padding: 0;
    }
    .copyright .header__ngoisao-logo {
        width: 90px;
    }
    .copyright .header__shop-logo {
        width: 64px;
        margin-left: 10px
    }
    .news__content {
        justify-content: center;
        &--bignews {
            width: 98%;
            margin-bottom: 40px;
        }
        &--list {
            width: 98%;
        }
    }
    .event-info {
        .wraper {
            justify-content: center;
        }
        .thumb-art {
            width: 95%;
            margin-bottom: 26px;
        }
        &__info {
            width: 98%;
        }
    }
    .sponsor__list--title {
        margin-right: 10px;
        min-width: 200px;
        white-space: nowrap;
    }
    .event-schedule__list .schedule__list--title {
        margin-right: 40px;
    }
}

@media all and (max-width: 600px) {
    .wraper {
        max-width: 580px;
        padding: 0 10px;
    }
    .exhibition__list {
        justify-content: center;
        &--item {
            width: 98%;
            .card-link {
                padding: 28px;
                font-size: 28px;
            }
        }
    }
    .promotion {
        &__list--item {
            margin: 0 auto 34px;
            width: 98%;
            .promotion__description {
                font-size: 30px;
            }
        }
    }
    .exhibition__list--item .mark, .promotion__list--item .mark {
        font-size: 30px;
        padding: 25px;
    }
    .contact {
        &__info, &__map {
            width: 50%;
        }
    }
    .event-schedule::after, .event-schedule::before {
        display: none;
    }
    .event-schedule__list {
        margin: 0;
    }
    .event-schedule .wraper::after {
        left: 0;
    }
    .contact {
        &__info {
            width: 100%;
        }
        &__map {
            display: none;
        }
    }
    .sponsor__list--image-container {
        display: flex;
        overflow: hidden;
    }
    .sponsor .wraper {
        padding: 0 24px;
    }
    .copyright__description {
        display: none;
    }
}

@media all and (max-width: 480px) {
    .wraper {
        max-width: 460px;
    }
    .header__top-bar--logo {
        display: none;
    }
    .header__top-bar--account {
        margin-left: auto;
    }
    .exhibition__list--item .mark, .promotion__list--item .mark {
        font-size: 26px;
        padding: 14px;
    }
    .event-schedule__date {
        &--from {
            margin-right: 46px;
            padding-right: 6px;
        }
        &--to {
            padding-left: 40px;
        }
    }
    .news__content--list--item {
        align-items: center;
    }
    .news-description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .contact__info {
        padding: 0 0 36px 40px;
    }
}
@media all and (max-width: 360px) {
    .wraper {
        max-width: 340px;
    }
    .hamburger-logo {
        display: none;
    }
    .guest__list--item {
        margin: 0 auto 32px;
        width: 70%;
    }
    .event-schedule__date {
        &--from {
            margin-right: 26px;
            padding-right: 0;
            width: 158px;
        }
        &--to {
            padding-left: 16px;
            width: 158px;
        }
    }
    .event-schedule__list .schedule__list--title {
        margin-right: 26px;
    }
    .news-text {
        width: 600px;
    }
    .news--link {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 0 !important;
        margin-bottom: 6px;
    }
    .news__content .news-description {
        line-height: 1.2;
    }
    .contact__info {
        padding: 0 0 36px 0;
    }
}
@media all and (max-width: 320px) {
    .wraper {
        max-width: 300px;
    }
    .copyright__link .copyright-icon {
        margin-left: 14px;
    }
    .sponsor__list {
        overflow: hidden;
    }
}
